<footer>

  {{ site.title }}/{{ page.permalink_name | replace: "/", "" | replace: " ", "-" }}
  <br><br>
  {% if site.linktree_username and site.linktree_username != "" %} :linktree: <a href="https://linktr.ee/{{site.linktree_username}}">@{{ site.linktree_username }}</a> {% endif %}

</footer>
